html{
  background-color: black;
  align-content: center;
  font-family: Verdana, sans-serif;
}
h1,
h3,
p{
  text-align: center;
  color: white;
}
h1{
  font-size: 50px;

}
.header{
  font-size: 64px;
}
h2{
  color: grey;
  text-align: center;
  font-size: 21px;
  font-family: sans-serif;
  font-weight: normal;
}
a{
  color: grey;
  text-align: center;
  font-size: 16px;
  font-family: Verdana;
  font-weight: lighter;
}
h3{
  color: white;
}
